<h3 class="page-header">{{currentUser.name}} {{currentUser.surname}}</h3>
<div class="panel panel-default">
  <div class="panel-heading">Son Identité</div>
  <div class="panel-body">
    <p>id : {{currentUser.id}}</p>
    <p>email : {{currentUser.email}}</p>
    <p>website : {{currentUser.website}}</p>
    <p>createdAt : {{currentUser.createdAt}}</p>
    <p>updatedAt : {{currentUser.updatedAt}}</p>
  </div>
</div>
<div class="panel panel-default" ng-repeat="project in projectsUser">
  <div class="panel-heading" >Projet : {{project.title}}</div>
  <div class="panel-body">
    <p>id : {{project.id}}</p>
    <p>Son rôle dans le projet : {{project.role}}</p>
    <p>description : {{project.description}}</p>
    <p>year : {{project.year}}</p>

  </div>
</div>
