<div class="jumbotron">
  <h1>Projet POO</h1>
</div>

<div class="row marketing">
  <h4>Fonctionnalités disponibles</h4>
  <p>
    Pour les <strong>Utilisateurs</strong> et pour les <strong>Projets</strong> :
  </p>
  <ul>
    <li>Affichage</li>
    <li>Modifications</li>
    <li>Mis à jour</li>
    <li>Suppression</li>
  </ul>
  <p>
    Concernant la dernière fonctionnalité demandée, elle a été implémentée pour l'ajout d'un projet. On choisit les membres que l'on veut rajouter puis on définie le rôle pour chacun d'entre eux. Celle-ci a été mise en place uniquement depuis l'interface Projet puisque généralement on crée un utilisateur puis on crée un projet. (Vraie raison : manque de temps pour copier coller puis corriger les erreurs eventuelles ;) )
  </p>

  <p><strong> Notez que tout est dynamique, lors de l'ajout d'un utilisateur ou d'un projet, la liste est directement mise à jour sans recharger la page !</strong></p>
</div>
